apiVersion: apps/v1
kind: Deployment
metadata:
  name: backstage
  namespace: backstage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backstage
  template:
    metadata:
      labels:
        app: backstage
    spec:
      nodeSelector:
        role: platform
      containers:
        - name: backstage
          # Currently the image was built locally and loaded to kind cluster. In real world use case, the image should be built and pushed to a container registry.
          image: backstage:0.1.1
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 7007
          envFrom:
            - secretRef:
                name: backstage-postgres-secrets
            - secretRef:
                name: backstage-secrets
            - configMapRef:
                name: backstage-config
# Uncomment if health checks are enabled in your app:
# https://backstage.io/docs/plugins/observability#health-checks
#          readinessProbe:
#            httpGet:
#              port: 7007
#              path: /healthcheck
#          livenessProbe:
#            httpGet:
#              port: 7007
#              path: /healthcheck
