
prometheus:
  prometheusSpec:
    retention: 7d
  
    storageSpec:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: 5Gi
    
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi

grafana:
  adminPassword: admin
  
  ingress:
    ingressClassName: traefik-dev
    hosts:
      - grafana.local

prometheusOperator:
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi

