apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${{ values.serviceFullName }}
  labels:
    app: ${{ values.serviceFullName }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ${{ values.serviceFullName }}
  template:
    metadata:
      labels:
        app: ${{ values.serviceFullName }}
    spec:
      containers:
        - name: ${{ values.serviceFullName }}
          image: ${{ values.serviceFullName }}
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
            - name: metrics
              containerPort: 3000
              protocol: TCP
          envFrom:
            - configMapRef:
                name: ${{ values.serviceFullName }}-config
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
