apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - backstage-sealedsecrets.yaml
  - postgres-sealedsecrets.yaml

namespace: backstage-dev

patches:
  - target:
      kind: Deployment
      name: backstage
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1

  - target:
      kind: Ingress
      name: backstage
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: backstage.local
      - op: replace
        path: /spec/ingressClassName
        value: traefik-dev
