apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../namespace.yaml
  - ../../base/app
  - ../../base/postgres

patches:
  - target:
      kind: Deployment
      name: backstage
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1

  - target:
      kind: Ingress
      name: backstage
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: backstage.local
